#title{
    text-align: center;
    color: red;
}

#Mes{
    text-align: center;
    color: rgb(93, 103, 247);
}

#Link{
    text-align: center;
    text-decoration: none;
    color: orangered;
    margin-left: 50%;
}